.file-upload :global(.ant-upload-list) {
    min-height: 30px;
}

.file-upload :global(.ant-upload-list:hover) :global(.ant-upload-list-item-name),
.file-upload :global(.ant-upload-list) :global(.ant-upload-list-item-name) {
    background-color: var(--light-theme-modal-content-bg);
}

.file-upload :global(.ant-upload-list-item-card-actions-btn) {
    background-color: var(--light-theme-modal-content-bg);
    border: none;
}

.file-upload :global(.ant-upload-list-item-card-actions-btn) svg {
    color: var(--cancel-icon-color);
}
