/* Default and primary button colors differ within modals */
.modal :global(.ant-modal-content) {
    /* prevents modal body color rendering under header/footer at corners */
    border-radius: 3px;
}

.close-icon {
    display: flex;
    cursor: pointer;
    position: absolute;
    right: 24px;
}

.close-icon svg {
    fill: var(--light-theme-modal-close-icon);
}

.close-icon:hover svg {
    fill: var(--light-theme-modal-close-icon-hover);
}

.modal :global(.ant-modal-header) {
    display: flex;
    height: 40px;
    justify-content: center;
}

.modal :global(.ant-modal-title) {
    align-items: center;
    display: flex;
    font-size: 14px;
    font-weight: 600;
}

.modal :global(.ant-modal-body) {
    color: var(--light-theme-modal-color);
    font-size: 16px;
    padding: 24px;
}

.modal :global(.ant-modal-footer) {
    background-color: var(--light-theme-modal-bg);
    padding: 0px;
}

.button-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 12px;
    margin: 0px;
    padding: 14px 24px;
}

.modal :global(.ant-modal-footer) button {
    height: 32px;
    width: 83px;
}

.modal :global(.ant-checkbox-inner) {
    background-color: transparent;
    border: 1px solid var(--dark-three) !important;
}

.modal :global(.ant-input) {
    border: 1px solid var(--light-theme-input-border-highlight);
    border-radius: 3px;
    text-align: right;
}

.modal :global(.ant-divider) {
    background-color: var(--light-theme-divider-color);
    left: 0;
    margin: 0px;
    position: absolute;
}

.modal button:hover {
    border-color: red;
}